
<h3>APLICACION CONTROL DE ASISTENCIA INICIE SESION PARA ACCEDER.</h3>
<br />

<label>CORREO : </label>
<input type="text" id="txtCorreo" value="" />
<br />
<label>PASSWORD  : </label>
<input type="password" id="txtPassword" value="" />
<br />
<input type="button" id="btnIngresar" value="Ingresar" />
