@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <center><h3>LISTA DE PERFILES</h3></center>
                        <table id="listaPerfil" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>DESCRIPCION</th>
                                    <th>VIGENTE</th>
                                    <th colspan="2">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div>
                        @Html.ActionLink("AGREGAR", "Agregar")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script src="~/Scripts/core/perfil.js"></script>
}